<% layout('boilerplate') %>

<div class="container">
    <div class="row">       
            <h1>Add new Comment to <%= course.title %></h1>
            <form action="/courses/<%= course._id %>/comments" method="POST">
               <div class="form-group">
                    <label for="text">Text:</label>
                 <input class="form-control" type="text" name="comment[text]" id="text">

               </div>
               <div class="form-group">
                    <label for="author">Author:</label>
                    <input class="form-control" type="text" name="comment[author]" id="author">
               </div>
               <button type="submit"  class="btn btn-success">Submit</button>
            </form>
    </div>
</div>
