<% layout ('boilerplate') %>

<div class="container">
 
  <div class="row">
   <h1><%= title %></h1>
 
  
   <!-- send error message to user -->
   <% if(message.length > 0){ %>
       <div class="alert alert-danger"><%= message %></div>
   <% } %>
  <form action="/register" method="POST" id="reg">
          <div class="form-group">
              <label for="email">Email:</label>
            <input type="email" class="form-control" 
                   placeholder="email" name="email" id="email">
                <p id="email-error">This field is required</p>
          </div>
          <div class="form-group">
              <label for="password">Password:</label>
            <input type="password" class="form-control" 
                  placeholder="password" id="password" name="password">
                  <p id="password-error">This field is required</p>
          </div>
          <div class="form-group">
              <label for="passwordRe">Confirm Password:</label>
            <input type="password" class="form-control" 
                  placeholder="password" id="passwordRe" name="passwordRe">
                  <p id="passwordRe-error">Passwords must match!</p>
          </div>
          <button type="submit" id="submitS" class="btn btn-success" disabled>Submit</button>
 </form>
</div>
</div>